{% import "_includes/forms" as forms %}

{{ forms.autosuggestField({
	first: true,
	label: "Shopify Storefront Access Token",
	name: 'shopifyStorefrontAccessToken',
	instructions: 'Click **[here](https://help.shopify.com/en/api/storefront-api/getting-started#private-app)** for instructions on how to get your access token',
	value: settings.shopifyStorefrontAccessToken,
	required: true,
	suggestEnvVars: true,
	errors: settings.getErrors('shopifyStorefrontAccessToken'),
}) }}

{{ forms.autosuggestField({
	label: "Shopify Admin API Password",
	name: 'shopifyAdminApiPassword',
	instructions: 'Click **[here](https://help.shopify.com/en/api/graphql-admin-api/getting-started#authentication)** for instructions on how to get your admin API password',
	value: settings.shopifyAdminApiPassword,
	required: true,
	suggestEnvVars: true,
	errors: settings.getErrors('shopifyAdminApiPassword'),
}) }}

{{ forms.autosuggestField({
	label: "Shop Handle",
	name: 'shopHandle',
	instructions: 'Your Shopify shop handle. To update this you must re-install the plugin.',
	value: settings.shopHandle,
	required: true,
	suggestEnvVars: true,
	errors: settings.getErrors('shopHandle'),
	disabled: settings.shopHandle is not empty,
}) }}

{{ forms.selectField({
	label: 'Product Section',
	instructions: 'The section that will be automatically populated by Shopify products',
	name: 'productSectionUid',
	options: sectionOptions,
	value: settings.productSectionUid,
	required: true,
}) }}

<hr>

<h2>Field Mapping</h2>

{{ forms.selectField({
	label: 'Type Category Group',
	instructions: 'The category group that will be automatically populated by Shopify product type',
	name: 'typeCategoryGroupUid',
	options: categoryGroupOptions,
	value: settings.typeCategoryGroupUid,
}) }}

{{ forms.selectField({
	label: 'Type Category Field',
	instructions: 'The type category field on the products',
	name: 'typeCategoryFieldUid',
	options: categoryFieldOptions,
	value: settings.typeCategoryFieldUid,
}) }}

{{ forms.selectField({
	label: 'Collection Category Group',
	instructions: 'The category group that will be automatically populated by Shopify collections',
	name: 'collectionCategoryGroupUid',
	options: categoryGroupOptions,
	value: settings.collectionCategoryGroupUid,
}) }}

{{ forms.selectField({
	label: 'Collection Category Field',
	instructions: 'The collection category field on the products',
	name: 'collectionCategoryFieldUid',
	options: categoryFieldOptions,
	value: settings.collectionCategoryFieldUid,
}) }}

{{ forms.selectField({
	label: 'Tag Field',
	instructions: 'The tag field on the products',
	name: 'tagFieldUid',
	options: tagFieldOptions,
	value: settings.tagFieldUid,
}) }}
